{% extends 'base.html' %}

{% block content %}
{% block title %} <!-- ONGs --> {% endblock %}
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <form>
                <fieldset>
                    <div class="field-group">
                        <div class="field">
                            <img src="/static/assets/univesp.png">
                            <h3> {{ post['nome'] }} </h3>
                            <h5> {{ post['tipo'] }} </h5>
                            <h6> {{ post['cidade'] }}, {{ post['estado'] }} </h6>
                        </div>
                    </div>
                </fieldset>
            </form>
        </a>
    {% endfor %}
{% endblock %}