{% extends 'base.html' %}

{% block content %}
    <script src="/static/js/create-ong.js"></script>
    <form method="POST">
        <h1>{% block title %} Cadastrar ONG {% endblock %}</h1>
        <br>
        <br>
        <fieldset>
            <div class="field-group">
                <div class="field">
                    <label for="nome">Nome da instituição</label>
                    <input type="text" name="nome" value="{{ request.form['nome'] }}">
                </div>

                <div class="field">
                    <label for="tipo">Tipo de ONG</label>
                    <input type="text" name="tipo" value="{{ request.form['tipo'] }}">
                </div>
            </div>
            <div class="field-group">
                <div class="field">
                    <label for="cep">CEP</label>
                    <input type="text" name="cep" id="cep" placeholder="Campo para auxiliar no preenchimento">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="estado">Estado</label>
                    <input type="text" name="estado" value="{{ request.form['estado'] }}">
                </div>

                <div class="field">
                    <label for="cidade">Cidade</label>
                    <input type="text" name="cidade" value="{{ request.form['cidade'] }}">
                </div>
            </div>

            <div class="field-group">
                    <div class="field">
                        <label for="rua">Avenida/Alameda/Rua/Travessa...</label>
                        <input type="text" name="rua" value="{{ request.form['rua'] }}">
                    </div>

                    <div class="field">
                        <label for="numero">Número/Complemento</label>
                        <input type="text" name="numero" value="{{ request.form['numero'] }}">
                    </div>
            </div>

            <div class="field-group">
                    <div class="field">
                        <label for="telefone">Telefone</label>
                        <input type="text" name="telefone" value="{{ request.form['telefone'] }}">
                    </div>

                    <div class="field">
                        <label for="email">E-mail</label>
                        <input type="text" name="email" value="{{ request.form['email']}}">
                    </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="redes">Redes sociais</label>
                    <input type="text" name="redes" value="{{ request.form['redes'] }}">
                </div>
            </div>

            <div>
                <div class="field">
                    <label for="conteudo">Descrição da Instituição</label>
                    <textarea name="conteudo" placeholder="Faça uma descrição do trabalho da instituição"> {{ request.form['conteudo'] }} </textarea>
                </div>
            </div>

            <div class="field-group">
                    <div class="field">
                        <label for="username">Escolha um usuário</label>
                        <input type="text" name="username" value="{{ request.form['username'] }}">
                    </div>
                <!-- type name or type password? -->
                    <div class="field">
                        <label for="password">Escolha uma senha</label>
                        <input type="text" name="password" value="{{ request.form['password'] }}">
                    </div>
            </div>

            <div>
                    <div class="field">
                        <label for="foto">Carregue uma foto</label>
                        <input type="file" name="foto" accept="image/png, image/gif, image/jpeg" value="{{ request.form['foto'] }}">
                    </div>
            </div>
        </fieldset>
        <button type="submit">Cadastrar ONG</button>
    </form>
{% endblock %}