{% extends 'base.html' %}

{% block content %}
           <main>
                <h1>{% block title %} Conheça o projeto {% endblock %}</h1>

                <p>
                    As ações realizadas pelo poder público nem sempre suprem a necessidade da população e, nesse sentido,
                    a participação das organizações não governamentais auxiliam no desenvolvimento social e garantem a oferta
                    de condições mínimas relativas à alimentação, materiais de higiene, roupas etc.
                    <br><br>
                    No contexto da pandemia de Covid-19, o papel de tais instituições que visam essa assistência à população ganhou
                    ainda mais relevância devido às necessidades crescentes apresentadas pela sociedade.
                    <br><br>
                    Diante do isolamento social, observou-se que além do desafio inerente à manutenção e incremento das doações,
                    notou-se que outro fator apresenta uma ameaça: a ausência de sincronia entre os doadores e a entidade apropriada.
                    <br><br>
                    A partir desse dado obtido por meio de questionários e entrevistas com a comunidade local, surge um problema:
                    <br><br>
                    Como a tecnologia pode auxiliar na conexão entre pessoas que necessitam de ajuda e pessoas que se disponibilizam
                    a ajudar?
                    <br><br>
                    Queremos sua participação! 
                    <br>
                    Contato: 2004525@aluno.univesp.br
                </p>
            </main>
{% endblock %}