{% extends 'base.html' %}

{% block content %}
    <form method="POST">
            <h1>{% block title %} Editando "{{ post['nome'] }}" {% endblock %}</h1>
            <br>
            <br>
            <fieldset>
                <div class="field-group">
                    <div class="field">
                        <label for="nome">Nome da instituição</label>
                        <input type="text" name="nome" value="{{ request.form['nome'] or post['nome'] }}">
                    </div>

                    <div class="field">
                        <label for="tipo">Tipo de ONG</label>
                        <input type="text" name="tipo" value="{{ request.form['tipo'] or post['tipo'] }}">
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <label for="estado">Estado</label>
                        <input type="text" name="estado" value="{{ request.form['estado'] or post['estado'] }}">
                    </div>

                    <div class="field">
                        <label for="cidade">Cidade</label>
                        <input type="text" name="cidade" value="{{ request.form['cidade'] or post['cidade'] }}">
                    </div>
                </div>

                <div class="field-group">
                     <div class="field">
                         <label for="rua">Avenida/Alameda/Rua/Travessa...</label>
                         <input type="text" name="rua" value="{{ request.form['rua'] or post['rua'] }}">
                     </div>

                     <div class="field">
                         <label for="numero">Número/Complemento</label>
                         <input type="text" name="numero" value="{{ request.form['numero'] or post['numero'] }}">
                     </div>
                </div>

                <div class="field-group">
                     <div class="field">
                         <label for="telefone">Telefone</label>
                         <input type="text" name="telefone" value="{{ request.form['telefone'] or post['telefone'] }}">
                     </div>

                     <div class="field">
                         <label for="email">E-mail</label>
                         <input type="text" name="email" value="{{ request.form['email'] or post['email'] }}">
                     </div>
                </div>

                <div class="field-group">
                     <div class="field">
                         <label for="redes">Redes sociais</label>
                         <input type="text" name="redes" value="{{ request.form['redes'] or post['redes'] }}">
                     </div>

                     <div class="field">
                         <label for="conteudo">Descrição da Instituição</label>
                         <input type="text" name="conteudo" value="{{ request.form['conteudo'] or post['conteudo'] }}">
                         <textarea name="conteudo" placeholder="Faça uma descrição do trabalho da instituição"> {{ request.form['conteudo'] or post['conteudo'] }} </textarea>
                     </div>
                </div>

                <div class="field-group">
                     <div class="field">
                         <label for="username">Escolha um usuário</label>
                         <input type="text" name="username" value="{{ request.form['username'] or post['username'] }}">
                     </div>

                     <div class="field">
                         <label for="password">Escolha uma senha</label>
                         <input type="text" name="password" value="{{ request.form['password'] or post['password'] }}">
                     </div>
                </div>
            </fieldset>
        <button type="submit">Atualizar informações</button>
    </form>

    <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
        <input type="submit" value="Apagar"
               onclick="return confirm('Tem certeza que quer deletar?')">
    </form>

    
{% endblock %}