{% extends 'base.html' %}

{% block content %}
           <main>
                <h1>{% block title %} Bem-vindo {{ post['nome']}} {% endblock %}</h1>

               <p>Aqui você pode visualizar como as pessoas te vêem e editar se achar necessário.</p>

                <a href="{{ url_for('post', post_id=post['id']) }}">
                    <strong>Visualize seu perfil</strong>
                </a>

                <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
                    <input type="submit" value="Deletar meu perfil"
                           onclick="return confirm('Tem certeza que deseja deletar?')">
                </form>
            </main>

            <a href="{{ url_for('index') }}"> 
                <h5>Logout</h5> 
            </a>
{% endblock %}